*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid grey;
}
.left{
    display: flex;
    gap: 10px; 
    font-size: 22px;
    margin-right: auto;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}
.right ul{
    display: flex;
    gap: 20px;
}
.right ul li{
    list-style: none;
    font-size: 14px;
}
.right a{
    text-decoration: none;
    color: black;
}
.right .btn{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
}
.login{
    background-color: #bbc6d3;
    color: white;
} 

.content-section { display: none; }
#overview { display: block; } /* Show overview by default */

.header{
    margin-bottom: 20px;
}
.appointment{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.first{
    margin-top: 20px;
}
.appointment img{
    margin: 20px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.left{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: auto;
}
.left .text .main{
    margin-bottom: -5px;
    font-weight: bold;
}
.right{
    margin-left: auto;
}
.button{
    padding: 10px;
    background-color: #4089e8;
    color: white;
    border: none;
    border-radius: 10px;
}
.button a{
    color: white;
    text-decoration: none;
}