/*--------side-bar--------*/
.side-bar{
    float: left;
}

.top-side-bar ul{
    margin-top: 20px;
}
.top-side-bar ul li{
list-style: none;
margin-bottom: 30px;
margin-top: 20px ;
text-decoration: none;
}

.top-side-bar ul li a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}